.App {
	display: grid;
	place-content: center;
}

.App-content {
	display: grid;
	place-items: center;
	width: 90vw;
}

.App-logo {
	text-align: center;
	margin: 10px auto;
	padding: 20px 0;
	width: 200px;
	font-size: 2rem; /*Size of icon*/
}

.App-logo span {
	margin: 0 1rem;
}

button {
	font-size: calc(10px + 2vmin);
}
